###> inetum-orleans/docker-devbox ###
/.docker/python/Dockerfile
/*ddb.local.*
/.bash_enter
/.bash_leave
/.bin/pip
/.bin/poetry
/.bin/python
/docker-compose.yml
/.docker/python/fixuid.tar.gz
/.bin/uvicorn
/.certs/.signer.crt
/.certs/ddb-python-fastapi-demo.test.key
/.certs/ddb-python-fastapi-demo.test.crt
###< inetum-orleans/docker-devbox ###

### poetry
/.venv/
/env/
